.headerimg{
    height: 10%;
    position: absolute;
    width: 15%;
    height: 15%;
    top: 0;
    /* background-color: black; */
    right: 0;

}
html, body{
    margin: 0 auto;
}
div.img{
    width: 70%;
    /* background-color: blue; */
    margin-top: 0;

 
}

.container{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
    position: relative;
}
.fgt{
    text-align: right;
    position: relative;
    margin-top: 5%;
    text-decoration: none;
    color: black;
}
.form{
    background-color: white;
    text-align: center;
    justify-self: center;
    width: 100%;
    align-content: center;
    justify-content: center;
    text-align: center;
}
.in{
    /* background-color: red; */
    padding: 10px;
}
.log{
    border-radius: 4px;
    color: #fff;
    padding: 10px;
    background: #0A59F8;
    opacity: 0.78;
    width: 100%;
    border: none;
    align-self: center


}
.subm{
    color: white;
    border: none;
    margin-left: 15%;
    width: 70%;
    justify-self: center;
    align-content: center;

}
.label{
    text-align: left;
    justify-self: left;
    width: 100%;
    /* background-color: red; */
    justify-self: center;
    align-self: center;
    position: relative;
}
.login{
    align-content: center;
    justify-content: center;
    display: inline-flex;
    justify-content: baseline;
    flex-direction: column;
    text-align: center;
    /* background-color: yellow; */
    width: 70%;
}
.rmb{
    left: 0;
    margin-top: 5%;
    position: relative;    
}
.box{
    width: auto;
    right: 0;
    display: inline-block;
    position: relative;
    box-shadow: 1px!important;
    margin-top: 5.2%;
}
.google{
    width: 3%;
}
.facebook{
    width: 3%;
}
.bt1{
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 42% 40%;
    background-size: 5% 45%;
}
.bt2{
    background-image: url(facebook.png);
    background-repeat: no-repeat;
    background-size: 5%;
    background-position: 40% 40%;
    background-size: 5% 45%;
}
#formbt{
    /* background-color: rgb(38, 194, 59); */
    display: inline-flex;
    width: 70%;
    justify-content: space-between;
    text-align: center;
    align-self: center;
    align-items: center;
    position: relative;
}
h4{
    width: 70%;
    text-align: center;
    border-bottom: 1px solid black;
    line-height: 0.1em;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
}
h4 span{
    background: white;
    padding: 0px 10px;
}
button{
    width: 70%;
    border-radius: 4px;
    padding: 10px;
    border: 2px solid black;
    border-width: thin;
}
.txt1{
    justify-content: center;
    text-align: center;
}
.ft{
    width: 100%;
    /* background-color: black; */
    height: 100%;
    bottom: 0;
}
.ftimg{
    height: 8%;
    bottom: 0;
    position: fixed;
    width: 10%;
    left: 0%;
}


@media screen and (min-width: 800px) {
    body{
        width: 100%;
        margin: 0 auto;
    }
    .container{
        display: flex;
        flex-direction: row-reverse;
        height: 100vh;
        width: 100%;

     } 
    .form{
        justify-content: center;
        align-content: center;
    }
    .ftimg{
        height: 15%;
        width: 8%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .imgs{
        height: 50%;
        width: 70%;
    }
    .headerimg{
        height: 25%;
        width: 10%;
    }
} 